<h2>Important Dates</h2>
<p class="description text-muted">We've filtered this list based on the information you provided in your profile.</p>

<div class="timeline">
	<dl>
		<div ng-repeat="event in deadlines">
			<dt>{{event.month}}</dt>
			<div ng-repeat="dates in event.dates">
				<dd class="clearfix" ng-class-even="'pos-right'" ng-class-odd="'pos-left'">
					<div class="circ"></div>
					<div class="time">{{dates.date}}</div>
					<div class="event-wrap">
						<div class="events">
							<div class="pull-left"><img class="events-object img-rounded" src="http://placehold.it/50x40"></div>
							<div class="events-body">
								<h4 class="events-heading">Bootstrap</h4>
								<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
							</div>
						</div>
					</div>
				</dd>
			</div>
		</div>
	</dl>
</div>