.well {
    background-image: none !important;
    box-shadow: none;
}

p {
    margin-bottom: 1px;
}

.empty-well {
    background: none !important;
    box-shadow: none !important;
    border: 1px dashed #ECECEC
}