<h2>Your College List</h2>
<p class="description text-muted">Here's the list of colleges you've shown interest in.</p>

<div ng-if="$root.mainCollegeList">

	<!-- Selected List Results -->
	<h4>Reach Schools</h4>
	<div class="jumbotron card" ng-repeat="college in $root.mainCollegeList" ng-if="college.selected && college.admissibility == 'Reach'">
		<div class="card-header">
			<span class="star" ng-click="college.selected = !college.selected">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</span>
			<div class="card-heading"ng-click="isCollapsed = !isCollapsed">
				<a href="" class="school-name toggle" >{{college.institutionName}}</a> 
				<i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i>
			</div>
		</div>
		<div class="card-body row" collapse="!isCollapsed">
			<div class="col-sm-12">
				<img src="assets/schools/{{college.unitid}}.png" data-holder-rendered="true" style="width:100%; margin:8px 0;">
				<dl class="definition-list">
	                <dt>Website</dt>
	                <dd><a href="{{college.website}}" target="_blank">{{college.website}}</a></dd>
	                <dt>6-Year Grad Rate</dt>
	                <dd>{{college.yrGradRate * 100}}%</dd>
	                <dt>Total Undergrad</dt>
	                <dd>{{college.totalUndergrad}}</dd>
	            </dl>
			</div>
		</div>
	</div>


	<h4>Target Schools</h4>
	<div class="jumbotron card" ng-repeat="college in $root.mainCollegeList" ng-if="college.selected && college.admissibility == 'Target'">
		<div class="card-header">
			<span class="star" ng-click="college.selected = !college.selected">
				<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</span>
			<div class="card-heading"ng-click="isCollapsed = !isCollapsed">
				<a href="" class="school-name toggle" >{{college.institutionName}}</a> 
				<i class="pull-right glyphicon ng-scope glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i>
			</div>
		</div>
		<div class="card-body row" collapse="!isCollapsed">
			<div class="col-sm-12">
				<img src="assets/schools/{{college.unitid}}.png" data-holder-rendered="true" style="width:100%; margin:8px 0;">
				<dl class="definition-list">
	                <dt>Website</dt>
	                <dd><a href="{{college.website}}" target="_blank">{{college.website}}</a></dd>
	                <dt>6-Year Grad Rate</dt>
	                <dd>{{college.yrGradRate * 100}}%</dd>
	                <dt>Total Undergrad</dt>
	                <dd>{{college.totalUndergrad}}</dd>
	            </dl>
			</div>
		</div>
	</div>


</div>

<div ng-if="!$root.mainCollegeList">
	<p>You have not selected any schools yet. Go back and <a href="#/results">select some schools</a>!</p>
</div>