<!-- FIRST PANEL -->
<div class="center" ng-hide="page !== 0">

<h5>
  Let's get to know each other.
</h5>
<br>
<h2>
  Tell us a little about your family background.
</h2>
<span class="med-icon glyphicon glyphicon-question-sign"></span>
<br>
<br>


<select class="">
  <option value="">Yearly Family Income</option>
  <option value="0">Less than $30,000</option>
  <option value="1">$30,000 - $60,000</option>
  <option value="2">$60,000 - $90,000</option>
  <option value="3">Over $90,000</option>
</select>

<br>

<select>
  <option value="volvo">Highest Parental Education</option>
  <option value="saab">Graduate Degree</option>
  <option value="opel">Bachellors Degree</option>
  <option value="audi">Associates Degree</option>
  <option value="audi">Some College</option>
  <option value="audi">High School</option>
  <option value="audi">None</option>
</select>


<br>
<br>

</div>


<!-- SECOND PANEL -->
<div class="center" ng-hide="page !== 1">

<h5>
  Nice to meet you, {{name}}.
</h5>
<br>
<h2>
  Tell us a little about your family background.
</h2>
<span class="med-icon glyphicon glyphicon-question-sign"></span>
<br>
<br>


<select class="">
  <option value="">Yearly Family Income</option>
  <option value="0">Less than $30,000</option>
  <option value="1">$30,000 - $60,000</option>
  <option value="2">$60,000 - $90,000</option>
  <option value="3">Over $90,000</option>
</select>

<br>

<select>
  <option value="volvo">Highest Parental Education</option>
  <option value="saab">Graduate Degree</option>
  <option value="opel">Bachellors Degree</option>
  <option value="audi">Associates Degree</option>
  <option value="audi">Some College</option>
  <option value="audi">High School</option>
  <option value="audi">None</option>
</select>


<br>
<br>

</div>


<div class="">
  <span class="med-icon circle p1 center thin-black-border glyphicon glyphicon-chevron-left" ng-click="page = page - 1"></span>
  <span class="med-icon circle p1 center thin-black-border glyphicon glyphicon-chevron-right"ng-click="page = page + 1"></span>
  {{page}}
</div>
